@import "../../../styles/partials/_variables"

.task, .task-image
  align-items: center
  background-color: rgba(255,255,255,0.6)
  display: flex
  flex-direction: column
  height: 20rem
  justify-content: center
  width: 40rem

  @include media-query(0, small)
    flex-grow: 1
    width: 100%

.task-image
  background-blend-mode: overlay
  background-image: $background
  background-position: center
  background-size: cover
  position: absolute
  z-index: -1

  .task-image-description
    color: $secondary-color
    position: relative
    text-align: center

  &::before
    background-color: rgba(255,255,255,0.6)
    content: ""
    font-size: 20px
    height: calc(100% - 3rem)
    position: absolute
    width: calc(100% - 3rem)
    z-index: 0

.description
  align-items: center
  color: $secondary-color
  display: flex
  flex-grow: 1
  font-size: 24px
  justify-content: center
  padding: 1rem
  text-align: center
  width: 100%

.actions
  display: flex
  padding: 1rem

  @include media-query(small)
    > *:not(:first-child)
      margin-left: 1rem

  @include media-query(0, small)
    flex-direction: column
    width: 100%

    > *:not(:first-child)
      margin-top: 0.5rem

.input
  background: transparent
  border: none
  color: $secondary-color
  font-family: inherit
  font-size: 24px
  height: 100%
  outline: none
  width: 100%
