$primary-color: #9A98B5
$secondary-color: #A0335F
$tertiary-color: #521945

// $dark-gray: #3D272F

$darker-gray: #353D46
$dark-gray: #4f5b66
$mid-gray: #66737e
$light-gray: #a7adba
$lighter-gray: #c0c5ce

$black: #141516
$white: white

$breakpoints: ("small": 640px, "medium": 992px,"large": 1200px)

@mixin media-query($min: 0, $max: 0)
  $min-width: map-get($breakpoints, $min)
  $max-width: map-get($breakpoints, $max)

  @if $min == 0
    @media screen and (max-width: $max-width)
      @content

  @else if $max == 0
    @media screen and (min-width: $min-width + 1)
      @content

  @else
    @media screen and (min-width: $min-width + 1) and (max-width: $max-width)
      @content

.card
  align-items: center
  background-color: rgba(255,255,255,var(--card-transparency))
  border-radius: 1rem
  box-shadow: 2px 2px 12px -8px $darker-gray
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 20rem
  width: 40rem

  p
    color: $darker-gray
    line-height: 1.5rem
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

  @include media-query(0, small)
    flex-grow: 1
    width: 100%
