@import '../../../styles/partials/_variables'

.footer
  background-color: $black
  padding: 1rem
  position: relative
  width: 100vw
  z-index: 8

  .caption
    color: white
    font-size: 0.8rem
    margin: 0

    @include media-query(0, small)
      font-size: 0.8rem

    a
      text-decoration: underline
