@import "../../../styles/partials/_variables"

.random-task
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%

  @include media-query(0, small)
    flex-grow: 1

.empty-stack
  @extend .card
  color: var(--color-secondary)
  font-size: 24px
  padding: 2rem
  text-align: center
