@import "./partials/_variables"

html,
body
  padding: 0
  margin: 0
  font-family: futura-pt, sans-serif
  font-weight: 400
  font-style: normal

body
  --background: url('/background-01.jpeg')
  --color-primary: #9A98B5
  --color-secondary: #A0335F
  --color-tertiary: #521945

body.narrativas-visuales
  --background: url('/background-narrativas.jpeg')
  --color-tertiary: #007089
  --color-secondary: #023b47

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent

h1
  color: var(--color-tertiary)
  font-size: 40px
  line-height: 1
  margin: 0
  margin-bottom: 0.5rem

.button
  align-items: center
  border-radius: 2rem
  border-style: solid
  border-width: 0.02rem
  cursor: pointer
  display: flex
  font-family: inherit
  font-size: 1rem
  justify-content: center
  line-height: 1
  min-height: 2.25rem
  outline: none
  overflow: hidden
  padding: 0.5rem 2rem
  position: relative
  text-align: center
  transition: transform 0.1s ease-in-out
  user-select: none
  &:active
    transform: scale(0.96)
  &::before
    border-radius: 2rem
    border: 0 solid
    content: ""
    height: 100%
    left: 0
    position: absolute
    top: 0
    transition: width 0.3s ease-in-out
    width: 0
    z-index: 0
  .button-content
    font-weight: 300
    position: relative
    z-index: 1

.button-primary
  background-color: var(--color-secondary)
  border-color: var(--color-secondary)
  color: $white
  &::before
    border-color: var(--color-tertiary)
  &:not(.button-disabled):hover::before
    width: 100%
    background-color: var(--color-tertiary)
    border-width: 0.02rem
    transition: width 0.3s ease-in-out

.button-secondary
  background-color: rgba(255,255,255, 0.2)
  border-color: var(--color-secondary)
  color: var(--color-secondary)
  &:not(.button-disabled)::before
    border-color: var(--color-secondary)
  &:not(.button-disabled):hover
    color: $white
    &::before
      width: 100%
      background-color: var(--color-secondary)
      opacity: 0.2
      border-width: 0.02rem
      transition: width 0.3s ease-in-out

.button-tertiary
  background-color: transparent
  border-color: transparent
  color: var(--color-secondary)
  transition: color 0.3s ease-in-out
  padding-left: 0
  padding-right: 0

  &:not(.button-disabled):hover
    color: var(--color-tertiary)

.button.button-disabled
  cursor: auto
  opacity: 0.5
  pointer-events: none

.actions
  display: flex
  justify-content: center
  padding: 1rem

  @include media-query(small)
    align-items: center

    > .button:not(:first-child)
      margin-left: 1rem

  @include media-query(0, small)
    flex-direction: column
    width: 100%

    > .button:not(:first-child)
      margin-top: 0.5rem
